HeaderNav_item {
    color: #FFFFFF;
}

textSettingMenu{
    color: #FFFFFF;

}

a{color: #6c757d; text-decoration: none;} /* настройка цвета текста, настройка оформления текста (подчеркивания, мигания и т.д.)*/
a:active{color: #555555;} /* цвет текста */
a:hover{color: #000000;} /* цвет текста */
a img {padding: 0 15px;} /* отступ вокруг содержимого элемента*/

ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}