header {
    background-image: url("../img/background_headermain.jpg"); /*  указываем что в роли background'а будет изображение */
    background-position: center center; /*  позиционирование изображения в качестве background'а */
    background-size: cover; /* Современные браузеры */
    min-height: 200px; /* минимальная высота блока */
    min-width: 15%; /* минимальная ширина блока */
    padding: 0;
}

a{color: #FFFFFF; text-decoration: none;} /* настройка цвета текста, настройка оформления текста (подчеркивания, мигания и т.д.)*/
a:active{color: #555555;} /* цвет текста */
a:hover{color: #000000;} /* цвет текста */
a img {padding: 0 15px;} /* отступ вокруг содержимого элемента*/

button {
    border-radius: 6px; /* установка скругления углов рамки */
    border: 1px solid white; /* устанавливаем толщину, стиль и цвет границы вокруг элемента */
    padding: 8px 15px; /* отступ вокруг содержимого элемента */
    display: inline-block; /* генерируем блочный элемент обтекаемый другими элементами веб-страницы*/
    margin: 0 5px 0 5px; /* отступы от края элемента в порядке - верх, право, низ, лево */
    min-width: 100px; /* минимальная ширина объекта */
}

.textSettingButton{   /* опции для текста */
    font-size: 18px; /* размер текста */
    color: white; /* цвет текста */
    text-decoration: none; /* настройка оформления текста (подчеркивания, мигания, перечеркивания и так далее) */
    text-align: center; /* горизонательное выравнивание текста в пределах элемента */
}

.textSettingMenu{   /* опции для текста */
    font-size: 24px; /* размер текста */
    color: white; /* цвет текста */
    text-decoration: none; /* настройка оформления текста (подчеркивания, мигания, перечеркивания и так далее) */
    text-align: center; /* горизонательное выравнивание текста в пределах элемента */
}

li {
    display: inline-block; /* генерируем блочный элемент обтекаемый другими элементамми веб-страницы */
    font-size: 28px; /* размер текста */
    font-family: Arial; /* шрифт текста (как в word) */
    font-weight:400; /* насыщенность текста от свехсветлого до сверхжирного*/
}

.HeaderNav {
    text-align:center; /* горизонтальное выравнивание текста в пределах элемента */
    display: flex; /* элемент растягивается на всю ширину и имеет своё полное пространство среди окружающих блоков. Происходит перенос строк в начале и в конце блока */
    position: fixed; /* позиционирование элемента относительно окна браузера или других объектов на веб-страницы - фиксированный */
    height: inherit; /* устанавливаем высоту блочных(заменяемых) элементов */
    align-items: center; /* выравнивание элементов в перпендикулярном направлении */
    justify-content: center; /* выравнивание элементов вдоль главной оси flex контейнера */

}

/*
    width: 70%;
    margin: auto;
*/

.HeaderNav_item{
    list-style: none; /* убираем маркеры */
    display: flex; /* элемент растягивается на всю ширину и имеет своё полное пространство среди окружающих блоков. Происходит перенос строк в начале и в конце блока */
    align-items: center; /* выравнивание flex-элементов текущей flex-линии */
    margin-right: 5px; /* отступ справа  */
    margin-left: 5px; /* отступ слева */
}

.HeaderNav_div {
    width: 13px; /* ширина объекта */
    height: 47px; /* высота объекта */
    margin-left: 0px; /* отступ слева */
}

.HeaderNav_item--search{
    width: 15%; /* ширина в процентах  */
    height: 39px; /* высота */
    min-width: 200px; /* минимальная ширина */
    padding: 0 15px; /* отступ вокруг содержимого элемента */
    border: 2px solid #6c757d; /* настройка толщины, стиля и цвета рамки вокруг элемента */
    border-radius: 6px; /* установка скругления углов рамки */
    outline: none; /* убираем внешнее обрамление элемента  */
    background: #000000; /* цвет заднего фона */
    color: white; /* цвет текста */
    margin-left: 40px; /* отступ слева */
    margin-right: 5px; /* отступ справа */
}

.HeaderNav_item--logo{
   padding: 0; /*  */
}

.HeaderNav_item--regButton{
    background-color: orange; /* цвет заднего фона */
}

.HeaderNav_item--logButton:hover {
    background-color: white; /* цвет заднего фона */
    color: black; /* цвет текста */
}

.HeaderNav_item--logButton{
    background-color: black; /* цвет заднего фона */
    transition-duration: 0.6s;    /* скорость изменения типа кнопки при наведении на неё курсором */
}

.TopHomeLink {
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
}